# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.RedesGetTest.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Documents\1_ TAREA\1_ DA VINCI\5_ 5to Cuatrimestre\3_Redes\RedesGetTest\.idea\.idea.RedesGetTest\.idea/dataSources/
/dataSources.local.xml
